# duckylib - Dictates screen sizes for reactivity
PUBLIC_TABLET_SIZE_PX=1000
PUBLIC_MOBILE_SIZE_PX=700

# Drizzle
DATABASE_URL=local.db

# https://dev.twitch.tv/console/apps
# Set the redirect uri to PUBLIC_TWITCH_OAUTH_REDIRECT_URI set below
PUBLIC_TWITCH_CLIENT_ID=
PRIVATE_TWITCH_CLIENT_SECRET=

# The user who is able to log in and activate the overlay
PRIVATE_TWITCH_CHANNEL=


# Use the domain/url the app is running under
# WS PATH = /ws
# OAUTH REDIRECT = /auth
PUBLIC_WS_URL=ws<s>://<domain>/ws
PUBLIC_TWITCH_OAUTH_REDIRECT_URI=http<s>://<domain>/auth
PUBLIC_APP_URL=http<s>://<domain>

# API Urls
PUBLIC_TWITCH_HELIX_BASE_URL=https://api.twitch.tv/helix
PUBLIC_TWITCH_OAUTH_BASE_URL=https://id.twitch.tv/oauth2

PUBLIC_7TV_BASE_URL=https://7tv.io/v3
